.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.container {
  margin: 80px 0px 0px 200px;
  width: 60%;
}

@media (max-width: 1000px) {
  .container {
    display: none;
  }
}
@media (max-width: 500px) {
  .container {
    display: block;
    margin: 100px 0px 0px 5px;
    width: 100%;
    margin: 100px 0px 0px 15px;
  }
}
@media (max-width: 325px) {
  .container {
    margin: 100px 0px 0px 5px;
    width: 98%;
    overflow: hidden;
  }
}
.contain {
  margin-top: 80px;
  padding: 0 200px;
}
